<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/members']" class="nav-link text-light">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/lists']" class="nav-link text-light">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/messages']" class="nav-link text-light">Messages</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <!-- Intellicense always underlines this service because it is declared as PRIVATE,
        but nor problem compiling the code, it still works. -->
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']">Edit Profile</a>
        <a class="dropdown-divider"></a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username" required>
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password" required>
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
